.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginBtn {
    margin-left: auto;
}
