.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px 15px;
}

.clear,
.clear_inverted {
    padding: 0;
    border: none;
    outline: none;
    background: none;

    &_inverted {
        color: var(--inverted-secondary-color);
    }
}

.outline,
.outline_red {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;

    &_red {
        border: 1px solid var(--red-light);
        color: var(--red-light);
    }
}

.background,
.background_inverted,
.background_red {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;

    &_inverted {
        background: var(--inverted-secondary-color);
        color: var(--primary-color);
    }

    &_red {
        background: var(--red-dark);
        color: var(--primary-color);
    }
}

.square {
    padding: 0;

    &.size_m {
        width: var(--font-line-m);
        height: var(--font-line-m);
    }

    &.size_l {
        width: var(--font-line-l);
        height: var(--font-line-l);
    }

    &.size_xl {
        width: var(--font-line-xl);
        height: var(--font-line-xl);
    }
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-size-l);
}

.size_xl {
    font: var(--font-size-xl);
}

.disabled {
    opacity: 0.3;
}
