.linkItem {
    display: flex;
    gap: 8px;
    align-items: center;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

.icon {
    fill: var(--inverted-secondary-color);
}

.collapsed {
    .link {
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
        width: 0;
    }

    .linkItem {
        justify-content: center;
    }
}

.link {
    opacity: 1;
}