.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

	&.readonly {
		opacity: .7;
	}

	&.editing input {
    	border-color: var(--inverted-primary-color);
	}
}

.placeholder {
    font: var(--font-m);
}

.input {
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px;
    outline: none;
    width: 100%;
    color: var(--primary-color);
	
}

// remove arrow from input type number	
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0; 
}
input[type=number] {
	-moz-appearance:textfield; 
}