@import 'reset';
@import './variables/global';
@import './theme/light';
@import './theme/dark';

.app{
	font-size: var(--fon-size-custom);
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
}