.app_dark_theme {
    --bg-color: rgb(42 50 80);
    --inverted-bg-color: #f3f3f3;
    --primary-color: #dff8f3;
    --secondary-color: #acb4ff;
    --inverted-primary-color: #1399fc;
    --inverted-secondary-color: rgb(65 101 236);
}
