.app.dark{
	--bg-color: rgb(42, 50, 80);
	--inverted-bg-color:  rgb(255, 255, 255);

	--primary-color: #dff8f3;
	--secondary-color: #acb4ff;

	--inverted-primary-color: #0186af;
	--inverted-secondary-color: rgb(65 101 236);
}