.app_dark_theme {
    --bg-color: #010066;
    --primary-color: #f4f4fb;
    --secondary-color: #00233d;
    --inverted-bg-color: #f4f4fb;
    --inverted-primary-color: #010066;
    --inverted-secondary-color: #00233d;

    // shadows
    --skeleton-color: #2b2be8;
    --skeleton-shadow: #1515ad;
    --code-bg: rgb(190 190 190);
}
