:root {
    --bg-color: rgb(255 255 255);
    --inverted-bg-color: rgb(42 50 80);
    --primary-color: #0186af;
    --secondary-color: #019cda;
    --inverted-primary-color: #000e8d;
    --inverted-secondary-color: #f5f5ff;
}
