:root {
    --bg-color: #5C49FF;
    --primary-color: #F5F4FB;
    --secondary-color: #1F9EFF;

    --inverted-bg-color: #F5F4FB;
    --inverted-primary-color: #5C49FF;
    --inverted-secondary-color: #1F9EFF;
}
