:root {
    --bg-color: #5c49ff;
    --primary-color: #f5f4fb;
    --secondary-color: #1f9eff;
    --inverted-bg-color: #f5f4fb;
    --inverted-primary-color: #5c49ff;
    --inverted-secondary-color: #1f9eff;
}
