.app_pinky_theme {
    --bg-color: #ce11af;
    --primary-color: #fbf4fa;
    --secondary-color: #690eaa;
    --inverted-bg-color: #fbf4fa;
    --inverted-primary-color: #ce11af;
    --inverted-secondary-color: #690eaa;
}
