.app_pinky_theme {
    --bg-color: #CE11AF;
    --primary-color: #FBF4FA;
    --secondary-color: #690EAA;

    --inverted-bg-color: #FBF4FA;
    --inverted-primary-color: #CE11AF;
    --inverted-secondary-color: #690EAA;
}
