.ProfilePageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .editBtn {
        width: 160px;
    }
}

.buttonsWrapper {
    display: flex;
    gap: 20px;
}
