.ProfileCard {
    display: flex;
    padding: 20px;
    border: 2px solid var(--primary-color);
    gap: 20px;
    border-radius: var(--border-radius-s);
    justify-content: flex-start;

    &.editing {
        border: 2px solid var(--primary-color);
    }
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.input {
    gap: 4px !important;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
