.ProfileCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid var(--secondary-color);
    gap: 8px;
    border-radius: 8px;
    justify-content: center;
}

.inputsWrapper {
    display: flex;
    gap: 12px;
}

.input {
    width: 50%;
    gap: 4px !important;
}

.editBtn {
    margin-left: auto;
    width: 160px;
}
